@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico.ttf);
}
body {
    font-size: 17px;
    font-family: Pacifico, Helvetica, sans-serif;
    font-weight: 100;
    box-sizing: border-box;
}
#wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 568px;
    width: 960px;
    display: -webkit-box;
    text-align: center;
}
#wrapper > div {
    width: 320px;
    height: 560px;
    border: 1px solid red;
    margin: 0 2px;
    background-color: #aaa;
}
.header{
    background-color: rgba(255,255,255,0.2);
    padding-bottom: 5px;
    position: relative;
}
h1.tagIt {
    margin: 0;
    font-size: 21px;
    color: rgb(198,46,46);
    text-shadow: 1px 0px 1px #333;
}
.circleHeader {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 9px;
}
.circleHeader > div {
    height: 100%;
    background-size: 69%;
    background-position: 3px;
    background-repeat: no-repeat;
}
.headerLeft {
    position: absolute;
    left: 0;
}
.headerRight {
    position: absolute;
    right: 0;
}
.circleHeader > div.mapIcon {
    background-image: url(../img/map.png);
}
.circleHeader > div.feedIcon {
    background-image: url(../img/feed.png);
    background-size: 54%;
    background-position: 6px 7px;
}
.circleHeader > div.cameraIcon {
    background-image: url(../img/camera.png);
    background-size: 62%;
    background-position: 5px 5px;
}