@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico.ttf);
}
body {
    height:548px;
    width:100%;
    margin:0px;
    margin-top: 20px;
    padding:0px;
    font-size: 17px;
    font-family: Pacifico, Helvetica, sans-serif;
    font-weight: 100;
    box-sizing: border-box;
    overflow-y: hidden;
}
.spinnerContainer {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    display: none;
}
.spinner {
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #666 transparent;
    border-width: 30px;
    border-radius: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: spin 1250ms linear infinite;
     -moz-animation: spin 1250ms linear infinite;
       -o-animation: spin 1250ms linear infinite;
          animation: spin 1250ms linear infinite;
}
#feedWrapper {
    height: 548px;
    width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-align: center;
}
#feedWrapper #feedScroller {
    height: 5112px;
    width: 320px;
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#feedWrapper #feedScroller > div {
    height: 548px;
    width: 320px;
    margin: 0;
    background-size: 100%;
}
#wrapper {
    height: 548px;
    width: 320px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: -webkit-box;
    text-align: center;
}
#wrapper #scroller {
    height: 548px;
    width: 960px;
    display: -webkit-box;
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
#wrapper > #scroller > div {
    height: 548px;
    width: 320px;
    margin: 0;
    background-color: #aaa;
    margin-bottom: 64px;
}
.first {
    background-color: blue;
}
.second {
    background-color: red;
}
.third {
    background-color: yellow;
}
.fourth {
    background-color: green;
}
.fifth {
    background-color: purple;
}
.header{
    background-color: rgba(255,255,255,0.2);
    padding-bottom: 5px;
    position: relative;
    z-index: 5;
}
.header.feedHeader {
    margin-bottom: -41px;
    padding: 0;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
h1.tagIt {
    margin: 0;
    font-size: 21px;
    color: rgb(198,46,46);
    text-shadow: 1px 0px 1px #333;
}
.circleHeader {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 6px;
}
.circleHeader > div {
    height: 100%;
    background-size: 69%;
    background-position: 3px;
    background-repeat: no-repeat;
    position: relative;
}
.headerLeft {
    position: absolute;
    left: 0;
}
.headerRight {
    position: absolute;
    right: 0;
}
.circleHeader > div.mapIcon {
    background-image: url(../img/map.png);
}
.circleHeader > div.feedIcon {
    background-image: url(../img/feed.png);
    background-size: 54%;
    background-position: 6px 7px;
}
.circleHeader > div.cameraIcon {
    background-image: url(../img/camera.png);
    background-size: 62%;
    background-position: 5px 5px;
}
.canIcon {
    height: 60px;
    width: 60px;
    margin: 425px auto;
    background-image: url(../img/can.png);
    background-size: 39%;
    background-position: 19px 4px;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 35px;
}
#cameraContainer #cameraImageUnderlay {
    display: none;
    height: 320px;
    width: 548px;
    position: absolute;
    top: 114px;
    right: -114px;
    opacity: 0.5;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#confirmOverlay {
    height: 100%;
    width: 320px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.show {
    display: block !important;
}
#confirmOverlay h1 {
    position: relative;
    top: 120px;
    font-size: 60px;
}
#confirmDialog {
    font-family: Helvetica, sans-serif;
    position: relative;
    top: 145px;
}
#confirmDialog span {
    font-size: 31px;
    font-weight: 400;
    margin: 0 8px;
}
#confirmDialog span:hover, #confirmDialog span:focus, #confirmDialog span:active {
    color: white;
}
#map-canvas {
    height: 100%;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}

@-o-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}

@keyframes spin {
    0% {  transform: rotate(0deg); }
    100% {  transform: rotate(360deg); }
}